body {
    margin: 0;
    background-color: #FDF9F5;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #FDF9F5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: solid #e6e6e6 1px;
}

.header .logo {
    flex: 0 0 auto;
    margin-left: 80px;
}

.header .logo img {
    height: 90px;
    width: auto;
}

.nav-container {
    flex: 1;
    display: flex;
    margin-left: 200px;
}

.nav-bar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    margin-left: 30px;
    position: relative;
}

.nav-bar>#atual {
    color: red;
}

.nav-bar a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
}

.nav-bar a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #bb972d;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;

}

.nav-bar a:hover::after {
    transform: scaleX(1);
}

.nav-bar a.active::after {
    transform: scaleX(1);
}

h2{
    margin-top: 140px;
    text-align: center;
    font-family: "Zilla Slab", serif;
    font-size: 40px;
    color: #5C4634;
}

.feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.feedback-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.feedback-content {
    display: flex;
    align-items: center;
    width: 80%;
}

.feedback-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.feedback-photo img {
    border-radius: 50%;
    border: 5px solid #BD9E1C;
    width: 150px;
    height: 150px;
    object-fit:cover;
}

.feedback-name {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-family: "Zilla Slab", serif;
    font-size: 20px;
}

.feedback-text {
    max-width: 60%;
    font-size: 24px;
    margin: 10px;
    text-align: justify;
    font-family: "Zilla Slab", serif;
    font-style: italic;
    font-weight: 500;
}

.feedback-container:nth-child(odd) .feedback-content {
    flex-direction: row;
    background-color: #4ec56a;
    border-radius: 20px;
}

.feedback-container:nth-child(even) .feedback-content {
    flex-direction: row-reverse;
    background-color: #fdc079;
    border-radius: 20px;
}

.feedback-container:nth-child(even) .feedback-photo img {
    border: 5px solid #517050;
}

.feedback {
    margin-top: 0px;
}

.feedback-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4CAA0;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.feedback-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Zilla Slab", serif;
}
.feedback-form input, .feedback-form textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
.feedback-form textarea {
    resize:none;
    min-height: 100px;
}
.feedback-form button {
    background-color: #5C4634;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Zilla Slab", serif;
}
.feedback-form button:hover {
    background-color: #4a3b2a;
}

.custom-footer {
background-color: #F4CAA0;
padding: 40px 20px;
font-family: "Zilla Slab", serif;
font-weight: 700;
margin-top: 150px;
}

.logo-footer img {
width: auto;
height: 90px;
margin-left: 53px;
margin-bottom: 10px;
margin-top: 20px;
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.footer-left {
flex: 1;
margin-left: 0px;
}

.footer-center {
flex: 1;
text-align: center;
font-size: 18px;
color:#5C4634 ;
}

.footer-right {
flex: 1;
text-align: right;
}

.footer-nav {
list-style: none;
padding: 0;
margin: 0;
}

.footer-nav li {
margin-bottom: 10px;
}

.footer-nav a {
text-decoration: none;
color: #5C4634;
font-weight: bold;
font-size: 18px;
}

.social-icons {
display: flex;
justify-content: center;
gap: 20px;
margin-bottom: 10px;
}

.social-icons img {
width: 20px;
}

.footer-right .criadores {
color: #5C4634;
font-weight: bold;
font-size: 18px;
margin-left: 20px;
}